<div class="row product-recomend">
  <h3 class="zagolovok-related">RELATED ITEMS</h3> <!--{{ heading_title }}-->
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="related-description-product">{{ product.description }}</p>
        {% if product.price %}
        <p class="price">Our price: 
          {{ product.price }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
