<div class="panel panel-default filter-hbarms">

  <div class="list-group"> 
    {% for key,filter_group in filter_groups %} 

    <!-- <a class="list-group-item">{{ filter_group.name }}</a> -->
    <div class="list-group-item" >
      <div id="filter-group{{ filter_group.filter_group_id }}" class="checbox-group-hbarms">
        {% for keys,filter in filter_group.filter %}
        
        <div class="checkbox_hbarms">
          <label class="{{ (filter.filter_id in filter_category)?'active-label-filter' }}">
            {% if filter.filter_id in filter_category %}

            <input class="hidden" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
            {{ filter.name }}
            {% else %}
            <input class="hidden" type="checkbox" name="filter[]" value="{{ filter.filter_id }}"/>
            {{ filter.name }}

            {% endif %}
          </label>
        </div>

        {% endfor %}
      </div>
    </div>

    {% endfor %}</div>
  <div class="panel-footer text-right hidden">
    <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
  </div>
</div>
<script type="text/javascript"><!--
$('.filter-hbarms input').change(function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 
<link href="catalog\view\theme\hbarms\stylesheet\filter.css" type="text/css" rel="stylesheet" media="screen" />
