{{ header }}

<link href="catalog/view/theme/hbarms/stylesheet/contact.css" rel="stylesheet">
<div id="information-contact" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h3 class="zagolovok-contacts">{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      <div class="container contacts-container">
        <div class="row">
          <div class="col-lg-6 contacts-block">
            <div class="col-lg-6 block-address">
              <p class="adress">{{ address }}</p>
            </div>
            <div class="col-lg-6 block-address">
            <p class="telephone-ñ">{{ telephone }}</p>
            <p class="emailcontact">{{ emailcontact }}</p>
          </div>
          </div>
          <div class="col-lg-6">
            <div class="block_contacts">
              <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                  <legend class="text-contact-label">{{ text_contact }}</legend>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <input type="text" name="name" placeholder="{{ entry_name }}" value="{{ name }}" id="input-name" class="form-control contact-form" />
                      {% if error_name %}
                      <div class="text-danger">{{ error_name }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <input type="text" name="email" placeholder="{{ entry_email }}" value="{{ email }}" id="input-email" class="form-control contact-form" />
                      {% if error_email %}
                      <div class="text-danger">{{ error_email }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control contact-form">{{ enquiry }}</textarea>
                      {% if error_enquiry %}
                      <div class="text-danger">{{ error_enquiry }}</div>
                      {% endif %}
                    </div>
                  </div>
                  {{ captcha }}
                </fieldset>
                  <div class="button-contact">
                    <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
